@import url("../fonts/norse-bold/stylesheet.css");

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    width: auto;
}

.side.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    align-items: center;
}

.side.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2.5;
    background-color: whitesmoke;
}

.side.right > * {
    padding: 0 2.5%;
    margin-bottom: 24px;
}

main > .side {
    box-sizing: border-box;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 25%;
    padding: 4px 0;
    align-self: stretch;
}

#logo-img {
    height: 108px;
    width: auto;
}

#logo-title {
    font: 5rem 'norsebold';
    color: white;
    padding: 0;
    margin: 0;
}

.left p,
.left p > a {
    color: white;
}

.right article {
    width: 75%;
}

article p {
    font-size: 1.35rem;
    font-weight: 600;
}

.italic {
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
}

li.sign-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

li.sign-up label {
    font: 12px monospace;
    font-weight: 600;
    font-stretch: wider;
    color: rgb(44, 43, 43);
}

li.sign-up input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.side.right form {
    padding: 0;
}

.side.right form button {
    margin: 0 2.5%;
}

.sign-up.block {
    background-color: white;
    padding: 2.5%;
    box-shadow: 0 5px 20px -15px black;
}

.sign-up.title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    margin-bottom: 16px;
}

#submit-button {
    background-color: #596D48;
    margin-top: 24px;
    border: 0;
    border-radius: 16px;
    color: white;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    -webkit-box-shadow: 5px 5px 10px -10px black; 
}
