@import url("../fonts/norse-bold/stylesheet.css");

main {
    display: flex;
    height: 100vh;
    width: auto;
}

.side.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.side.right {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 25%);
    margin-top: 15%;
}

#logo-title {
    font: 5rem 'norsebold';
}