@import url("../fonts/norse-bold/stylesheet.css");

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    width: auto;
}

.side.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    align-items: center;
}

.side.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.side {
    box-sizing: border-box;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 15%;
    align-self: stretch;
}

#logo-img {
    height: 108px;
    width: auto;
}

#logo-title {
    font: 5rem 'norsebold';
    color: white;
    padding: 0;
    margin: 0;
}

.left p,
.left p > a {
    color: white;
}
